<h1> Index </h1>
<p> File path contact_list_v4/app/views/contacts/index.erb </p>

<hr>

<h2> Enter a new contact </h2>
<form>

   <input type = "text" id="firstname" placeholder="First Name" name="firstname">
   <br>
   <input type = "text" id="lastname" placeholder="Last Name" name="lastname">
   <br>
   <input type = "text" id="phone_number" placeholder="Phone Number" name="phone_number">
   <br>
   <input type = "text" id="email_address" placeholder="Email" name="email_address">
   <br>
   <button>Submit</button>
   <br>

</form>

<hr>

<h2> Contact List </h2>

<ul id = "contacts">
</ul>

